.navSection {
    width: 100vw;
    z-index: 100;
}

.navWrapper {
    padding: 32px 128px;
    width: 100%;
}

.droppyItem {
    margin-right: 56px !important;
    cursor: default !important;
}

.droppy {
    color: #fff;
    font-weight: 800;
    font-size: 32px;
    text-shadow: none;
}

.special {
    color: #50C878;
}

.navListLeft {

}

.navListRight {

}

.navItem {
    color: #fff;
    margin-right: 56px;
    font-weight: 600;
    cursor: pointer;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
                0 0 20px rgba(255, 255, 255, 0.5),
                0 0 30px rgba(255, 255, 255, 0.3),
                0 0 40px rgba(255, 255, 255, 0.1);
}

.navItem:hover, .navBtn:active {
    color: #ffffffca;
}

.navItem:active, .navBtn:active {
    color: rgba(255, 255, 255, 0.645);
}

.getStartedBtn:hover {
    color: rgba(255, 255, 255, 0.833);
    background-color: #50c878ea;
}

.getStartedBtn:active {
    color: rgba(255, 255, 255, 0.833);
    background-color: #50c878d8;
}

.loginBtn {
    color: #fff;
    font-weight: 700;
    margin-right: 26px;
}

.getStartedBtn {
    color: #fff;
    font-weight: 700;
    background-color: #50C878;
    padding: 8px 14px;
    border-radius: 8px;
}