.navSection {
    width: 100vw;
}

.navWrapper {
    padding: 28px 64px;
    width: 100%;
}

.droppyItem {
    margin-right: 92px !important;
}

.droppy {
    color: #fff;
    font-weight: 800;
    font-size: 32px;
    text-shadow: none;
}

.navListLeft {

}

.navListRight {

}

.navItem {
    color: #fff;
    margin-right: 56px;
    font-weight: 600;
    cursor: pointer;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
                0 0 20px rgba(255, 255, 255, 0.5),
                0 0 30px rgba(255, 255, 255, 0.3),
                0 0 40px rgba(255, 255, 255, 0.1);
}

.navItem:hover {
    color: #ffffffca;
}

.navItem:active {
    color: rgba(255, 255, 255, 0.645)
}

.getStartedBtn {
    color: #fff;
    font-weight: 700;
}