.loaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loaderWrapper>h1 {
  color: #fff;
  font-weight: 800;
  font-size: 32px;
  text-shadow: none;
  margin: none;
}

.loaderWrapper>h2 {
  margin-top: 12px;
  color: rgba(255, 255, 255, .7);
}

.loader {
  margin-top: 22px;
  display: block;
  height: 4px;
  width: 350px;
  border-radius: 2px;
  --c: no-repeat linear-gradient(#50C878 0 0);
  background: var(--c), var(--c), #9ae6b3;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}

.special {
  color: #50C878;
}

.loaderFadeOut {
  animation: fadeOutUp 0.75s ease-in-out forwards;
}

@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0
  }

  66% {
    background-position: 250% 0, -150% 0
  }

  100% {
    background-position: 250% 0, 250% 0
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOutUp {
  from {
      opacity: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  to {
      opacity: 0;
      transform: translateY(-20px); /* Adjust the value as needed */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -70%);
  }
}